.game-block {
  flex-grow: 1;
}

.game {
  display: flex;

  justify-content: center;
  align-items: center;
}

.chessboard {
  display: grid;
  grid-template-columns: 15px repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr) 15px;

  margin: 0;
  padding: 0;
  width: 350px;
  height: 350px;

  list-style: none;
}

.chessboard li {
  margin: 0;
  padding: 0;

  background-color: #CFFFEB;
  font-size: 12px;

  &.row-label {
    padding-top: 12px;
  }

  &.column-label {
    padding-top: 5px;
  }
}

.chessboard li:nth-child(2n-1) {
  background-color: #8FC3AA;
}

.chessboard li.chessboard-label {
  background-color: rgba(0,0,0,0);
  text-align: center;
  vertical-align: middle;
}
